body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

h4, h3 {
    color: #333;
}

#current-image-container {
    margin-top: 20px;
}

#image-of-day {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

#image-title, #image-desc {
    margin-top: 10px;
    color: #555;
}

#search-form {
    margin-top: 20px;
}

#search-history {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
}

#search-history li {
    background-color: #eee;
    padding: 10px;
    margin: 5px 0;
    border-radius: 4px;
    cursor: pointer;
}

#search-history li:hover {
    background-color: #ddd;
}
